body {
    font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
    max-width: 88vw;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Consolas, Verdana;
}

:root {
    --back-color: rgba(	255, 255, 255, .25);
}
:active, :focus {text-decoration: none; outline: 0; border: 0; }

a {text-decoration: none;}
a, ul { background-color: var(--back-color); }
ul, ol { list-style-type: none; }
a:hover { cursor: pointer; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    border: 1px solid darkgreen;
    border-radius: .25em;
    background-color: cornsilk;
    color: darkgreen;
}

button:focus,
button:hover {
    background-color: darkgreen;
    color: snow;
    cursor: pointer;
}

.page-content {
    height: 100vh;
    display: grid;
    grid-gap: 9px;
    font-size: 110%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
            'header'
            'area'
            'footer';
}

.header {
    grid-area: header;
    min-height: 45px;
    min-width: 50vw;
    display: flex;
    align-content: space-evenly;
    color: rgba(57, 83, 164, .77);
    padding: 1em 1em;
}

.area {
    grid-area: area;
    /*min-width: 50vw;*/
    /*padding: 22px;*/
    /*display: flex;*/
    /*flex-flow: column;*/
    /*align-content: center;*/
}

.footer {
    grid-area: footer;
    min-height: 25px;
    min-width: 50vw;
    text-align: center;
    color: rgba(57, 83, 164, .69);
    font-size: .71rem;
}
